.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  font-size: 20em;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.App span {
  animation: changeColor 10s infinite alternate;
}

@media only screen and (max-width: 600px) {
  .App {
    height: unset;
  }
}

@keyframes changeColor {
  12.5% {
    color: #ff0000;
  }
  25% {
    color: #ffa500;
  }
  37.5% {
    color: #b6b600;
  }
  50% {
    color: #61c300;
  }
  62.5% {
    color: #00b0b0;
  }
  75% {
    color: #0000ff;
  }
  87.5% {
    color: #9932cc;
  }
  100% {
    color: #ff1493;
  }
}
